* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background: linear-gradient(-45deg, #ffffff,  #cacaca);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
  height: 100vh;
}

.panel-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: black;
  width: 30em;
  height: 30em;
}

.panel {
  transition: all 0.15s;
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: extrabold;
}

.toolbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}

.toolbox input {
  transition: all 0.25s;
}

.toolbox input:hover {
  transform: scale(110%);
}

.toolbox #color {
  border-radius: 50%;
  height: 6em;
  width: 6em;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  -webkit-appearance: none;
}

.toolbox #color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.toolbox #color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.toolbox input[type = "button"] {
  padding: 0.5em 3em;
  text-transform: uppercase;
  font-size: 1.1em;
  background: transparent;
  border: 1px solid rgba(50, 50, 93, 0.25);
  border-radius: 2em;
}

.toolbox input[type = "range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 1em;
  border-radius: 1em;  
  background: rgba(50, 50, 93, 0.25);
  outline: none;
}

.toolbox input[type = "range"]:hover {
  transform: none;
}

.toolbox input[type = "range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
  transition: all 0.25s;
}

.toolbox input[type = "range"]::-webkit-slider-thumb:hover {
  transform: scale(110%);
}

.toolbox .grid-size-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.toolbox .grid-size-container #grid-size-text {
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 850px) {
  .main-container {
    flex-direction: column;
    gap: 2em;
  }
}