* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
  height: 100vh;
}

.panel-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: black;
}

.panel {
  min-width: 1em;
  min-height: 1em;
}

.toolbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.toolbox #color {
  border-radius: 50%;
  height: 6em;
  width: 6em;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.toolbox #color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.toolbox #color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
