* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: black;
  margin: 10em;
}

.panel {
  min-width: 1em;
  min-height: 1em;
}

.toolbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}